In [68]:
li= [1,2,3,4,5,"a","b","c","d"]

In [69]:
li.remove("e")

ValueError: list.remove(x): x not in list

In [70]:
li.remove("d") # this will search and delete d in list

In [71]:
li

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [72]:
li.pop() # this will remove the last index element
li

[1, 2, 3, 4, 5, 'a', 'b']

In [73]:
li.pop(1) # in bracket this is index, it will delete the 1st index and return the deleted value

2

li

In [22]:
# LIST SLICES
li[1:] # this means that start list for 1 index then till end

[2, 4, 5, 'a', 'b']

In [24]:
li[0:2] # this means that start with 0 index till 2nd index leaving the 2nd index

[1, 2]

In [25]:
li

[1, 2, 4, 5, 'a', 'b']

In [29]:
li[-1] # this means the last index

'b'

In [30]:
li

[1, 2, 4, 5, 'a', 'b']

In [32]:
li[:3] # this means new list starts with 0 and end till 3 index but leaves 3rd one

[1, 2, 4]

In [33]:
li[:] # show complete list

[1, 2, 4, 5, 'a', 'b']

In [76]:
li

[1, 3, 4, 5, 'a', 'b']

In [80]:
li.index(5) # this will find the word ot letter first instance and return index of it

3

In [81]:
li

[1, 3, 4, 5, 'a', 'b']

In [83]:
3 in li # this will check for 3 in list and return true

True

In [105]:
li =[1, 3, 4, 5, 'a', 'b', 'c']

In [106]:
li = li + ["sure"]

In [107]:
li += ["d","e"]

In [108]:
li

[1, 3, 4, 5, 'a', 'b', 'c', 'sure', 'd', 'e']

In [109]:
li *= 2 # this will genterate two times the value of the list
li

[1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e',
 1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e']

In [149]:
li[1:5] # start for 1st index and end till 5th index but not take 5th index

[3, 4, 5, 'a']

In [124]:
li[-7:19] # this will start from last 7th till end from starting to 19th index this also means li[-7:-1]

[5, 'a', 'b', 'c', 'sure', 'd']

In [125]:
li[-7:-1]

[5, 'a', 'b', 'c', 'sure', 'd']

In [126]:
li

[1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e',
 1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e']

In [130]:
li[::2] # it strat with starting and then take 2nd element every time, takes 1 the leave 3(because of the 2nd elemet) and take 4 ans so on (the third parameter is step parameter)

[1, 4, 'a', 'c', 'd', 1, 4, 'a', 'c', 'd']

In [132]:
li[::3]  # [1,5,"c","e",4,"b","d"] start from starting and count 5th element

[1, 5, 'c', 'e', 4, 'b', 'd']

In [133]:
li[2::3] #[4,"b","d",3,"a","sure"]

[4, 'b', 'd', 3, 'a', 'sure']

In [134]:
li[2::1]

[4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e',
 1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e']

In [136]:
li[::-1] # if we put - sign in third parament (step paramenter) it will reversed the list

['e',
 'd',
 'sure',
 'c',
 'b',
 'a',
 5,
 4,
 3,
 1,
 'e',
 'd',
 'sure',
 'c',
 'b',
 'a',
 5,
 4,
 3,
 1]

In [137]:
li

[1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e',
 1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e']

In [146]:
li[5::-2] # output is ["b",5,3] because its a reverse order it will start form 5th index "b" then every 2nd but reversed order 5 the 3

['b', 5, 3]

In [148]:
li[3::-3] # [5,1] strats for 3rd index is 3 and count 3rd reversed and take 1

[5, 1]

In [156]:
five_items_after_second = slice(2, 7)
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black', 'silver']
nums[five_items_after_second]
# nums
# [30, 40, 50, 60, 70]
colors[five_items_after_second]
# ['blue', 'yellow', 'white', 'black', 'silver']

['blue', 'yellow', 'white', 'black', 'silver']

In [163]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
x=nums[1:5] # output [20,30,40,50]
x[::2]

[20, 40]

In [164]:
li

[1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e',
 1,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'sure',
 'd',
 'e']

In [168]:
del li[:3] # for deleting

In [169]:
li

['e', 1, 3, 4, 5, 'a', 'b', 'c', 'sure', 'd', 'e']

In [170]:
del li[0]

In [171]:
li

[1, 3, 4, 5, 'a', 'b', 'c', 'sure', 'd', 'e']

In [173]:
li.pop(1)
li

[1, 5, 'a', 'b', 'c', 'sure', 'd', 'e']

In [174]:
tp = ()

In [175]:
tp = li

In [176]:
tp

[1, 5, 'a', 'b', 'c', 'sure', 'd', 'e']

In [177]:
tp= (1, 5, 'a', 'b', 'c', 'sure', 'd', 'e')

In [178]:
tp[::-1]

('e', 'd', 'sure', 'c', 'b', 'a', 5, 1)

In [179]:
tp[1:5]

(5, 'a', 'b', 'c')

In [196]:
l = tp[1:5]
li
l[::-1]
li

[1, 5, 'a', 'b', 'c', 'sure', 'd', 'e']

In [199]:
tp.index("a")

2

In [200]:
sampleStr = "hello world i am writing python"
s= sampleStr.title()
s

'Hello World I Am Writing Python'

In [201]:
tp =()
tp.append("aa")

AttributeError: 'tuple' object has no attribute 'append'

In [202]:
li

[1, 5, 'a', 'b', 'c', 'sure', 'd', 'e']

In [208]:
a=tuple(li)
print (li)
a

[1, 5, 'a', 'b', 'c', 'sure', 'd', 'e']

(1, 5, 'a', 'b', 'c', 'sure', 'd', 'e')

In [212]:
# Dictionaries
dic = {"fname": "sadiq",
      "lname" : "hanif",
       "age" : 22,
       "study"  : "PIAIC"
      }
dic

{'fname': 'sadiq', 'lname': 'hanif', 'age': 22, 'study': 'PIAIC'}

In [216]:
dic["fname"]

'sadiq'

In [217]:
dic.keys()

dict_keys(['fname', 'lname', 'age', 'study'])

In [218]:
dic.values()

dict_values(['sadiq', 'hanif', 22, 'PIAIC'])

In [224]:
for eachKey in dic:
    print(dic[eachKey])

sadiq
hanif
22
PIAIC

In [225]:
for eachKey in dic.values():
    print(eachKey)

sadiq
hanif
22
PIAIC

In [227]:
for eachKey in dic.keys():
    print(eachKey)

fname
lname
age
study

In [231]:
for eachkey in dic.items():
    print(eachkey)

('fname', 'sadiq')
('lname', 'hanif')
('age', 22)
('study', 'PIAIC')

In [232]:
dic.items()

dict_items([('fname', 'sadiq'), ('lname', 'hanif'), ('age', 22), ('study', 'PIAIC')])

In [240]:
for eachKey, eachValue in dic.items():
    print(eachKey,",========>" ,eachValue)

fname ,========> sadiq
lname ,========> hanif
age ,========> 22
study ,========> PIAIC

In [246]:
for eachKey, eachValue in dic: # cannot take two values by default way
    print(eachKey ,"=====>" "eachValue")

ValueError: too many values to unpack (expected 2)

In [247]:
dic

{'fname': 'sadiq', 'lname': 'hanif', 'age': 22, 'study': 'PIAIC'}

In [248]:
detailDic =[
    {
    'fname': 'sadiq',
    'lname': 'hanif',
    'age': 22,
    'study': 'PIAIC'
},{
    'fname': 'shoaib',
    'lname': 'hanif',
    'age': 34,
    'study': 'PIAIC'
},{
    'fname': 'talha',
    'lname': 'hanif',
    'age': 18,
    'study': 'Saylani'
},{
    'fname': 'Amin',
    'lname': 'hanif',
    'age': 25,
    'study': 'Memon Fedration'
},
]

In [249]:
print(detailDic[0]["fname"])

sadiq

In [250]:
print(detailDic[1]["fname"])

shoaib

In [256]:
15/4

3.75

In [257]:
15 // 4 # IT WILL floor the value (floor division)

3

In [259]:
2**3 # 2* 2 *2 =8  or 2 power 3

8

In [260]:
# converting one data type to other data type is called TYPE CASTING

name = "MArk"
print(name)

MArk

In [261]:
2+2

4

In [265]:
num1 =2
num2 =4
num1 / num2

0.5

In [266]:
true ="saa"

In [267]:
true

'saa'

In [268]:
10%3 remainder modulus

1

In [269]:
10/3 10-9=1

3.3333333333333335

In [270]:
15/4

3.75

In [271]:
15%4

3

In [272]:
num1

2

In [273]:
num2

4

In [276]:
num1+1

4

In [277]:
num1 = num1+1 # num1 += 1
print(num1)

4

In [278]:
num1 += 1

In [279]:
num1

5

In [280]:
age = 12
age *= 3 
age

36

In [281]:
1+4*3

13

In [282]:
((2 * 4) * 4) + 2 #usama 130  sadiq 34

34

In [283]:
(2 * 4) * (4 + 2) # usama 48 sadiq48

48

In [294]:
greeting = "Hello"
addressee = 2

In [295]:
whole = greeting + addressee
whole

TypeError: can only concatenate str (not "int") to str

In [296]:
print("The sum of 2 plus 2 is " + 4)

TypeError: can only concatenate str (not "int") to str

In [302]:
age = 25
if age == 25:
    print("yes this was age i was lookin g fior")
else:
    print("no this false")

yes this was age i was lookin g fior

In [317]:
age = 24
if age == 25:
    print("yes this was age i was lookin g fior")
elif age == 26:
    print("it will fine ...")
else:
    print("no this false")

no this false

In [319]:
weight = 301
time = 5
if weight > 300 and time < 6: ## or
    print("try to recruit him")

try to recruit him

In [320]:
weight = 301
time = 7
if weight > 300 or time < 6: ## or
    print("try to recruit him")

try to recruit him

In [330]:
age = 66
res = "U.K."
if age > 65 or age <= 21 and res == "U.K.":
    print("sjcsjkdhjksd")

sjcsjkdhjksd

In [332]:
if age == 66:
    if res == "U.K.":
        print("true")

true

In [336]:
a=4;b=3;c=3;d=4;g = 5; e=8;f= 9; h=7
if a == d: # cv true
    print("pass1")
    if b == c: # reject male
        g = h
    elif a == b:
        g = h
    else: e = f
else: 
    e = f

In [337]:
print(e)

9

In [341]:
cv = "cv nai ayye"
if cv == "got it":
    if gender == "female":
        print("pick n drop")
    elif gender == "male":
        print("noe pic nm drop")
    else:
        print("notr req")
else:
    print("rejected")

rejected

In [343]:
'''cv = "got it"
gender ="female"
if cv == "got it":
    if gender == "female":
        print("pick n drop")
#     elif gender == "male":
#         print("noe pic nm drop")
    else:
        print("notr req")
else:
    print("rejected")'''

'cv = "got it"\ngender ="female"\nif cv == "got it":\n    if gender == "female":\n        print("pick n drop")\n#     elif gender == "male":\n#         print("noe pic nm drop")\n    else:\n        print("notr req")\nelse:\n    print("rejected")'

In [344]:
1name = "sadiq"

SyntaxError: invalid syntax (<ipython-input-344-d08bdce86b1f>, line 1)

In [347]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle",25,26,28]
cities[0]

'Atlanta'

In [348]:
cities[8]

28

In [349]:
cities[-1]

28

In [355]:
cities.append("karach")
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 25,
 26,
 28,
 'karach',
 'isl',
 'lhe',
 'isl',
 'lhe',
 'karach']

In [356]:
cities += ["isl", "lhe"]
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 25,
 26,
 28,
 'karach',
 'isl',
 'lhe',
 'isl',
 'lhe',
 'karach',
 'isl',
 'lhe']

In [357]:
cities.insert(0,"kaarchi")

In [358]:
cities

['kaarchi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 25,
 26,
 28,
 'karach',
 'isl',
 'lhe',
 'isl',
 'lhe',
 'karach',
 'isl',
 'lhe']

In [360]:
cities[1:7]

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [368]:
cities[2:5]+cities[-8:-5]

['Baltimore', 'Chicago', 'Denver', 'karach', 'isl', 'lhe']

In [364]:
cities[-6:-8]

[]

In [366]:
cities[-8:-5]

['karach', 'isl', 'lhe']

In [386]:
cities[-2:-10:-3] # this means k first k baad  3 value lay ga

['isl', 'isl', 'karach']

In [385]:
cities[-1]

'lhe'

In [387]:
cities[5:]

['Los Angeles',
 'Seattle',
 25,
 26,
 28,
 'karach',
 'isl',
 'lhe',
 'isl',
 'lhe',
 'karach',
 'isl',
 'lhe']

In [388]:
cities

['kaarchi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 25,
 26,
 28,
 'karach',
 'isl',
 'lhe',
 'isl',
 'lhe',
 'karach',
 'isl',
 'lhe']

In [399]:
cities[10:2:-7]

['karach', 'Chicago']

In [404]:
cities[-2:-17:-7]

['isl', 28, 'Baltimore']

In [410]:
cities[8:13:1]

[26, 28, 'karach', 'isl', 'lhe']

In [416]:
name=[]
while True:
    a = input("Enter a name to append or 'x'  to cancel")
    if a!="x":
        name.append(a)
    else:
        break
name

Enter a name to append or 'x'  to cancelsadiq
Enter a name to append or 'x'  to cancelhanif
Enter a name to append or 'x'  to cancelshaoicn
Enter a name to append or 'x'  to cancelahksd
Enter a name to append or 'x'  to cancelx

['sadiq', 'hanif', 'shaoicn', 'ahksd']

In [466]:
li=[1,2,3,4,5]
A=5;B=3
li=[]
a = 'a'
b= "b"
b*=B
a*=A

# for aWala in range(1,A+1):
# #     print('a')
#     a*=A
          
# print(range(1,10))
# range(1,10)
for aaa in a:
    print(a)

aaaaa
aaaaa
aaaaa
aaaaa
aaaaa

In [474]:
c= a+b
awaly = 2
bwaly = 1
Tlength = len(c)
print(Tlength)
e= ""
for i in range(0,awaly):
    e += a[i]
for r in range(0,bwaly):
    e += b[i]
# print(c[1])
# if c[0]== "a":
#     if c[1] == "a":
#         print(c[:2])
e

8

'aab'

In [486]:
# def dounts():
inp = input("asjasjk")
if int(inp)>10:
    print("many ...")
else:
    print("this number of coount is" + str(inp))

asjasjk11
many ...

In [512]:
string = "fadsfdghsdfks"
print(string[:2]+string[len(string)-2:])

faks

In [538]:
string="rtyuiirrryuiirrr"
firstChar =string[0]
# string.find("b",1)
# print(string.replace("b", "*", 3))
aaa = string.replace(firstChar, "*")
print(aaa)
pa = list(aaa)
pa[0]=firstChar
"".join(pa)

*tyuii***yuii***

'rtyuii***yuii***'

In [564]:
stry = "ending"
# print(stry[len(stry)-3:])
if stry[len(stry)-3:] =="ing":
    stry += "ly"
elif len(stry) >= 3:
    stry += "ing"
    
stry

'endingly'

In [566]:
# 1 ka  3

In [567]:
# 3 ka B
# 5 2nd awal flot, 3rd str
# Q7 pemdas 
# 8 int, bool, str, float ,str

In [568]:
li

[]

In [569]:
cities

['kaarchi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 25,
 26,
 28,
 'karach',
 'isl',
 'lhe',
 'isl',
 'lhe',
 'karach',
 'isl',
 'lhe']

In [570]:
dir(cities)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [571]:
cities.__class__

list

In [578]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [583]:
chr(65)

'A'

In [584]:
ord("A")

65

In [581]:
li=list(range(65,90))
li

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89]

In [585]:
for e in li:
    print(chr(e))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y

In [586]:
li

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89]

In [587]:
map(chr,li)

In [588]:
list(map(chr,li))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [590]:
l1=["sadiq", "usamahjhkh", "shoaib"]
list(map(len,l1))

[5, 10, 6]

In [595]:
l2=[]
for e in l1:
    l2.append(len(e))
l2

[5, 10, 6]

In [596]:
ord("/")

47

In [597]:
l1

['sadiq', 'usamahjhkh', 'shoaib']

In [598]:
l1=list(map(chr,li))

In [599]:
l1

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [607]:
print(*l1,sep="")

ABCDEFGHIJKLMNOPQRSTUVWXY

In [616]:
a=5
if a==5:
    print("Pakistan")
else:
    print("China")

Pakistan

In [613]:
a=5
"Pakistan" if a==5 else "China"

Pakistan

In [619]:
# statement for e in list  ### === list comprehensive
[e for e in list(range(0,a))]

[0, 1, 2, 3, 4]

In [632]:
[chr() for x in list(range(98,120))]

['b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w']

In [636]:
a=6

In [637]:
ist(map(chr,list(range(65,98)))) if a==5 else [chr(x) for x in list(range(97,127))]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '{',
 '|',
 '}',
 '~']

In [654]:
[print("{} X {} = {}".format(2,x,x*2)) for x in range(1,21)]

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [687]:
# this comprehensive way with else
# 1-1000  divideed by 5, 7, 40,
l1=[]
[x  if x%5==0 and x%7==0 and x%40==0 else "sad" for x in list(range(1,1001)) ]

['sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 280,
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 560,
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 840,
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad',
 'sad']

In [688]:
l1=[]
for x in range(1,1001):
    if x%5==0 and x%7==0 and x%40==0:
        l1.append(x)
l1

[280, 560, 840]

In [689]:
# this comprehensive way without else
l1=[]
[x for x in list(range(1,1001))  if x%5==0 and x%7==0 and x%40==0]

[280, 560, 840]

In [690]:
li

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 280,
 560,
 840]

In [691]:
del li[0:3]

In [692]:
li

[68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 280,
 560,
 840]

In [693]:
li.remove(78)
li

[68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 280,
 560,
 840]

In [696]:
l= li.pop(0)

In [698]:
li.insert(0,l)

In [699]:
li

[69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 280,
 560,
 840]

In [700]:
tu = (li)

In [702]:
tu =(69,70,71)

In [703]:
type(li)

list

In [704]:
type(tu)

tuple

In [706]:
tu = ( range(0,20))

In [707]:
tu

range(0, 20)

In [708]:
tu = tuple(li)

In [709]:
tu

(69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 280,
 560,
 840)

In [710]:
tu[0]

69

In [715]:
tu[:6] +(1,2,3)

(69, 70, 71, 72, 73, 74, 1, 2, 3)

In [717]:
tu +(1,2,3)

(69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 280,
 560,
 840,
 1,
 2,
 3)

In [718]:
del tu[0:5]

TypeError: 'tuple' object does not support item deletion

In [720]:
li[0]=2

In [730]:
tu+("25",25)

(69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 280,
 560,
 840,
 '25',
 25)

In [731]:
a=5
li = list(range(0,11))
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [732]:
a ==li[0]

False

In [734]:
a== li[5]

True

In [740]:
b=8
for i in li:
    if(a==i):
        print(i)
    if(b==i):
        print(b==i)

5
True

In [747]:
first_name =["BlueRay" ,"Lojack","Upchuck","Do-Rag" ,"Gizmo"]
lastName = ["Burp" ,"Zzz", "Dogbone" ,"Droop",] #20

In [742]:
firstN
ame[0]

'BlueRay'

In [751]:

print(first_name + g)

TypeError: can only concatenate list (not "str") to list

In [767]:
# print(first_name[0]+"sy") # 5
for x in range(0,5):
    print(x)

0
1
2
3
4

In [773]:
for x in range(0,5):
    print(first_name[x]) #first_name[0]

BlueRay
Lojack
Upchuck
Do-Rag
Gizmo

In [777]:
for x in first_name:
    print(x+lastName[0]) #first_name[0]

BlueRayBurp
LojackBurp
UpchuckBurp
Do-RagBurp
GizmoBurp

In [779]:
for x in first_name:
#     print(x)
    for e in lastName:
        print(x+e)

BlueRayBurp
BlueRayZzz
BlueRayDogbone
BlueRayDroop
LojackBurp
LojackZzz
LojackDogbone
LojackDroop
UpchuckBurp
UpchuckZzz
UpchuckDogbone
UpchuckDroop
Do-RagBurp
Do-RagZzz
Do-RagDogbone
Do-RagDroop
GizmoBurp
GizmoZzz
GizmoDogbone
GizmoDroop

In [780]:
dic

{'fname': 'sadiq', 'lname': 'hanif', 'age': 22, 'study': 'PIAIC'}

In [782]:
dic["address"] = "shhsd shjsjsdjck"

In [783]:
dic

{'fname': 'sadiq',
 'lname': 'hanif',
 'age': 22,
 'study': 'PIAIC',
 'address': 'shhsd shjsjsdjck'}

In [785]:
dic["address"]

'shhsd shjsjsdjck'

In [786]:
dic

{'fname': 'sadiq',
 'lname': 'hanif',
 'age': 22,
 'study': 'PIAIC',
 'address': 'shhsd shjsjsdjck'}

In [787]:
dic

{'fname': 'sadiq',
 'lname': 'hanif',
 'age': 22,
 'study': 'PIAIC',
 'address': 'shhsd shjsjsdjck'}

In [788]:
detailDic

[{'fname': 'sadiq', 'lname': 'hanif', 'age': 22, 'study': 'PIAIC'},
 {'fname': 'shoaib', 'lname': 'hanif', 'age': 34, 'study': 'PIAIC'},
 {'fname': 'talha', 'lname': 'hanif', 'age': 18, 'study': 'Saylani'},
 {'fname': 'Amin', 'lname': 'hanif', 'age': 25, 'study': 'Memon Fedration'}]

In [789]:
count =0
for x in detailDic:
    x["customer id"]=count
    count+=1

In [790]:
detailDic

[{'fname': 'sadiq',
  'lname': 'hanif',
  'age': 22,
  'study': 'PIAIC',
  'customer id': 0},
 {'fname': 'shoaib',
  'lname': 'hanif',
  'age': 34,
  'study': 'PIAIC',
  'customer id': 1},
 {'fname': 'talha',
  'lname': 'hanif',
  'age': 18,
  'study': 'Saylani',
  'customer id': 2},
 {'fname': 'Amin',
  'lname': 'hanif',
  'age': 25,
  'study': 'Memon Fedration',
  'customer id': 3}]

In [791]:
detailDic[0]["study"]

'PIAIC'

In [792]:
detailDic[3]["study"]

'Memon Fedration'

In [794]:
detailDic.append({'fname': 'hanif',
  'lname': 'suleman',
  'age': 56,
  'study': 'Memon Fedration 12',
  'customer id': 4})

In [795]:
detailDic

[{'fname': 'sadiq',
  'lname': 'hanif',
  'age': 22,
  'study': 'PIAIC',
  'customer id': 0},
 {'fname': 'shoaib',
  'lname': 'hanif',
  'age': 34,
  'study': 'PIAIC',
  'customer id': 1},
 {'fname': 'talha',
  'lname': 'hanif',
  'age': 18,
  'study': 'Saylani',
  'customer id': 2},
 {'fname': 'Amin',
  'lname': 'hanif',
  'age': 25,
  'study': 'Memon Fedration',
  'customer id': 3},
 {'fname': 'hanif',
  'lname': 'suleman',
  'age': 56,
  'study': 'Memon Fedration 12',
  'customer id': 4}]

In [798]:
for x in detailDic:
    x["work"]=[x["fname"]+"work1",x["fname"]+"work2",x["fname"]+"work3"]

In [799]:
detailDic

[{'fname': 'sadiq',
  'lname': 'hanif',
  'age': 22,
  'study': 'PIAIC',
  'customer id': 0,
  'work': ['sadiqwork1', 'sadiqwork2', 'sadiqwork3']},
 {'fname': 'shoaib',
  'lname': 'hanif',
  'age': 34,
  'study': 'PIAIC',
  'customer id': 1,
  'work': ['shoaibwork1', 'shoaibwork2', 'shoaibwork3']},
 {'fname': 'talha',
  'lname': 'hanif',
  'age': 18,
  'study': 'Saylani',
  'customer id': 2,
  'work': ['talhawork1', 'talhawork2', 'talhawork3']},
 {'fname': 'Amin',
  'lname': 'hanif',
  'age': 25,
  'study': 'Memon Fedration',
  'customer id': 3,
  'work': ['Aminwork1', 'Aminwork2', 'Aminwork3']},
 {'fname': 'hanif',
  'lname': 'suleman',
  'age': 56,
  'study': 'Memon Fedration 12',
  'customer id': 4,
  'work': ['hanifwork1', 'hanifwork2', 'hanifwork3']}]

In [804]:
detailDic[len(detailDic)-1]["work"]

['hanifwork1', 'hanifwork2', 'hanifwork3']

In [805]:
detailDic[len(detailDic)-1]["work"][1]

'hanifwork2'

In [806]:
detailDic

[{'fname': 'sadiq',
  'lname': 'hanif',
  'age': 22,
  'study': 'PIAIC',
  'customer id': 0,
  'work': ['sadiqwork1', 'sadiqwork2', 'sadiqwork3']},
 {'fname': 'shoaib',
  'lname': 'hanif',
  'age': 34,
  'study': 'PIAIC',
  'customer id': 1,
  'work': ['shoaibwork1', 'shoaibwork2', 'shoaibwork3']},
 {'fname': 'talha',
  'lname': 'hanif',
  'age': 18,
  'study': 'Saylani',
  'customer id': 2,
  'work': ['talhawork1', 'talhawork2', 'talhawork3']},
 {'fname': 'Amin',
  'lname': 'hanif',
  'age': 25,
  'study': 'Memon Fedration',
  'customer id': 3,
  'work': ['Aminwork1', 'Aminwork2', 'Aminwork3']},
 {'fname': 'hanif',
  'lname': 'suleman',
  'age': 56,
  'study': 'Memon Fedration 12',
  'customer id': 4,
  'work': ['hanifwork1', 'hanifwork2', 'hanifwork3']}]

In [814]:
customers={}
count = 0
for x in detailDic:
    customers.update({count:x})
    count+=1

In [815]:
customers

{0: {'fname': 'sadiq',
  'lname': 'hanif',
  'age': 22,
  'study': 'PIAIC',
  'customer id': 0,
  'work': ['sadiqwork1', 'sadiqwork2', 'sadiqwork3']},
 1: {'fname': 'shoaib',
  'lname': 'hanif',
  'age': 34,
  'study': 'PIAIC',
  'customer id': 1,
  'work': ['shoaibwork1', 'shoaibwork2', 'shoaibwork3']},
 2: {'fname': 'talha',
  'lname': 'hanif',
  'age': 18,
  'study': 'Saylani',
  'customer id': 2,
  'work': ['talhawork1', 'talhawork2', 'talhawork3']},
 3: {'fname': 'Amin',
  'lname': 'hanif',
  'age': 25,
  'study': 'Memon Fedration',
  'customer id': 3,
  'work': ['Aminwork1', 'Aminwork2', 'Aminwork3']},
 4: {'fname': 'hanif',
  'lname': 'suleman',
  'age': 56,
  'study': 'Memon Fedration 12',
  'customer id': 4,
  'work': ['hanifwork1', 'hanifwork2', 'hanifwork3']}}

In [816]:
print(customers[4])

{'fname': 'hanif', 'lname': 'suleman', 'age': 56, 'study': 'Memon Fedration 12', 'customer id': 4, 'work': ['hanifwork1', 'hanifwork2', 'hanifwork3']}

In [819]:
print(customers[4]["customer id"])

4

In [822]:
len(detailDic[0])

6

In [821]:
detailDic

[{'fname': 'sadiq',
  'lname': 'hanif',
  'age': 22,
  'study': 'PIAIC',
  'customer id': 0,
  'work': ['sadiqwork1', 'sadiqwork2', 'sadiqwork3']},
 {'fname': 'shoaib',
  'lname': 'hanif',
  'age': 34,
  'study': 'PIAIC',
  'customer id': 1,
  'work': ['shoaibwork1', 'shoaibwork2', 'shoaibwork3']},
 {'fname': 'talha',
  'lname': 'hanif',
  'age': 18,
  'study': 'Saylani',
  'customer id': 2,
  'work': ['talhawork1', 'talhawork2', 'talhawork3']},
 {'fname': 'Amin',
  'lname': 'hanif',
  'age': 25,
  'study': 'Memon Fedration',
  'customer id': 3,
  'work': ['Aminwork1', 'Aminwork2', 'Aminwork3']},
 {'fname': 'hanif',
  'lname': 'suleman',
  'age': 56,
  'study': 'Memon Fedration 12',
  'customer id': 4,
  'work': ['hanifwork1', 'hanifwork2', 'hanifwork3']}]

In [823]:
newDic = dict([(1,"s"),(2,"a")])
newDic

{1: 's', 2: 'a'}

In [827]:
Dict = {} 
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
Dict['Value_set'] = 2, 3, 4

print(Dict)

{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

In [828]:
type(Dict["Value_set"])

tuple

In [831]:
Dict["new_List"]=[4,5,6]

In [832]:
Dict

{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4), 'new_List': [4, 5, 6]}

In [833]:
type(Dict["new_List"])

list

In [834]:
newSet = 1,2,3
type(newSet)

tuple

In [835]:
Dict.get("new_List")

[4, 5, 6]

In [836]:
string

'rtyuiirrryuiirrr'

In [837]:
string.lower()

'rtyuiirrryuiirrr'

In [838]:
string.upper()

'RTYUIIRRRYUIIRRR'

In [839]:
string.capitalize()

'Rtyuiirrryuiirrr'

In [840]:
string = "j asj  jhjkhas kjjh sa"

In [841]:
string.capitalize()

'J asj  jhjkhas kjjh sa'

In [842]:
string.title()

'J Asj  Jhjkhas Kjjh Sa'