In [1]:
print('Sadiq')

Sadiq

In [2]:
a='pakistan'
print(a)
print(type(a))

pakistan
<class 'str'>

# String Class method and Attributes

In [3]:
a='pakistan zinda bad'
print(a)
print(type(a))

pakistan zinda bad
<class 'str'>

In [4]:
a.capitalize()

'Pakistan zinda bad'

In [5]:
a.center(1)

'pakistan zinda bad'

In [6]:
a.upper()

'PAKISTAN ZINDA BAD'

In [7]:
a.title() # every word first letter make it capital

'Pakistan Zinda Bad'

In [8]:
a.lower()

'pakistan zinda bad'

# help or ? or ??

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
a.lower?

In [ ]:
print??

In [ ]:
a.lower??

# multi Line

In [ ]:
abc = """ 
Saylani Welfair Trust
City: Karachi
Country; Pakistan
""" # muilti Line
print(abc)

Saylani Welfair Trust
City: Karachi
Country; Pakistan

In [ ]:
abc = """ 
name : {}
City: {}
Country: {}
"""

name = "Sadiq"
city = "Karachi"
country = "Pakistan"

abc.format(name,city,country)
print(abc.format(name,city,country))

name : Sadiq
City: Karachi
Country: Pakistan

In [ ]:
name = input("Enter your Name")
city = input("Enter City")
country = input("Enter country")

In [ ]:
print(abc.format(name,city,country))


# Operators

In [ ]:
a="pakistan"
b="zinda bad"
a+b # Concatication

In [ ]:
a= 5
b= 9
a+b

In [ ]:
# modulus
15%3

In [ ]:
15%4

In [ ]:
#flow division
15/4

In [ ]:
15 // 4 #floar division

In [ ]:
# power opertaor
2**3

In [ ]:
#pemdas paranthis exponent mulitply addition subtraction
2+6*8/5+(2*3)

# Assgin operator

#=, +=, -=, /=, %= , **=

In [ ]:
a= 'Pakistan'

In [ ]:
a * 2 # print 2 a's

In [ ]:
a += "zinda bad"

In [ ]:
a

In [ ]:
a *= 2

In [ ]:
a

In [ ]:
a

In [ ]:
a = 15
a %= 4

In [ ]:
a

In [ ]:
a **= 3 # power

In [ ]:
a

# Logical Opertor 
# ==, > , < , >=, <=, !=

In [ ]:
5 == 5

# Cobine Logic Checking

# and, or

In [ ]:
a = 27

In [ ]:
type(a)

In [ ]:
str(a)

In [ ]:
int(a)

# Python Online Advance Task

# if, else, elif

In [ ]:
if logic:
    true value
else:
    
false value

In [ ]:
name= input("enter you name")

if name == "sadiq":
    print("student")
else:
    print("teacher")

In [ ]:
name= input("enter you name")

if name.lower() == "sadiq": # Case sensitive
    print("student")
else:
    print("teacher")